/*-----------------------------------------------------------------------------------*/


/*      
/*      Built with blocs
/*-----------------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:300);
body {
    margin: 0;
    padding: 0;
    background: #1c1c1c;
    /*background: #FFFFFF;*/
    -webkit-font-smoothing: antialiased;
    color: #f2efef !important;
    font-family: "Lato";
}

a:focus,
a:hover {
    text-decoration: none;
    color: #fff;
}

a {
    color: #338195;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}

h1 {
    font-size: 46px;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
}


/* Client Img */

.client-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 180px;
    min-height: 180px;
}

.client-img:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    /*max-width: 700px;*/
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* End of Client Image Modal */


/* Blocs */

.bloc {
    width: 100%;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Bloc sizes */

.bloc-lg {
    padding: 100px 0 0 0;
}

.bloc-sm {
    padding: 0;
}


/* NavBar */

.navbar {
    margin-bottom: 0;
    margin-left: 0px;
}

.navbar-brand {
    height: auto;
    padding: 15px 15px;
    font-size: 25px!important;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.navbar-header {
    background-color: #0f262c;
}

.navbar-brand img {
    width: auto;
    max-height: 30px;
    margin: 0 5px 0 0;
    display: inline;
}

.navbar-brand {
    padding: 15px 15px;
}

.navbar .nav {
    padding-top: 2px;
    margin-right: 0px;
    float: right;
}

.nav > li {
    float: left;
    margin-top: 4px;
    font-size: 16px;
}

.nav > li a:hover,
.nav > li a:focus {
    background: transparent;
    color: #ffffff;
}

.nav > li a {
    color: #338195;
    transition: color 0.5s ease;
}

.navbar-toggle {
    margin: 10px 0 0 0;
    border: 0px;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.navbar-toggle .icon-bar {
    background-color: #ffffff;
    width: 26px;
}

.navlink-text {
    color: #ffffff!important;
}

@media (min-width: 768px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        -webkit-transform: translateY(-50%);
    }
    .nav-invert .site-navigation {
        left: 20px;
        right: 0;
    }
}


/* Bric adjustment margins */

.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}


/* Misc Custom Stuff */

.text-ulink {
    color: #338195 !important;
}

.color-ulink {
    background-color: #338195 !important;
}

.color-ulink img {
    padding-top: 50px;
    margin-left: 8px;
}

.color-vanishcubes {
    background-color: #2b3e51 !important;
}

.navbar-dark {
    background-color: rgba(28, 28, 28, .5) !important;
}

div[class^="bric"] {
    background-color: #242424;
    overflow: hidden;
    padding: 0;
}

div[class^="bric"] .fill {
    height: 300px;
}

.bric-md img {
    min-width: 290px;
}

.bric-dynamic {
    height: inherit;
    margin: 5px;
}

.bric-2xl {
    height: 1000px !important;
    margin: 5px;
}

.bric-xl {
    height: 800px !important;
    margin: 5px;
}

.bric-lg {
    height: 610px;
    margin: 5px;
}

.bric-md {
    height: 295px;
    margin: 5px;
}

.bric-md a {
    overfloul-x: hidden;
    overfloul-y: hidden;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
}

.bric-md a:hover {
    opacity: 0.2;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 40px 17px inset;
}

.bric-sm {
    height: 180px;
    margin: 5px;
}

.bric-container {
    padding: 5px;
}

.text-container {
    padding: 30px!important;
}

p,
h3 {
    line-height: 35px;
}

p {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

.client {
    padding: 80px 0px;
    text-align: center;
}

.client img:hover,
.client-a img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
    cursor: pointer;
}

a.client-a:hover {
    box-shadow: none!important;
}

.client img {
    min-width: 50px!important;
    max-height: 140px;
    max-width: 175px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}

img.avatar {
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 49.9%;
}

.bg-parallax {
    background-image: -webkit-linear-gradient(360deg, rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0)), url(img/we-create.jpg);
    background-image: -o-linear-gradient(270deg, rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0)), url(img/we-create.jpg);
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0)), url(img/we-create.jpg);
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
}

.text-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    padding: 15px 20px;
    border: 1px solid #121212;
    color: #121212;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-overlay-white {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.skills ul > li {
    font-size: 16px;
    margin: 10px 0;
}

ul.medium > li {
    font-size: 16px;
}

ul.large > li {
    font-size: 23px;
}

#bio p {
    font-size: 16px;
}


/* Mobile adjustments */

@media (max-width: 1199px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 22px;
    }
    p,
    h3 {
        line-height: 27px;
    }
    p {
        font-size: 18px;
    }
    .bric-md img {
        height: inherit;
        min-width: 1px;
        width: 100%;
    }
    .color-ulink img {
        padding: 80px 0px;
        width: 93% !important;
    }
    .client img {
        width: 46% !important;
    }
}

@media (max-width: 767px) {
    .social i {
        margin-bottom: 30px;
    }
    .bric-xl {
        height: auto;
        margin: 5px;
    }
    .bric-lg {
        height: auto;
        margin: 5px;
    }
    .bric-md {
        height: auto;
        margin: 5px;
    }
    .page-container {
        overflow-x: hidden;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    .bloc {
        text-align: center;
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .navbar .nav {
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        float: none!important;
    }
    .navbar.row {
        margin-left: 0;
        margin-right: 0;
    }
    .nav > li {
        margin-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        background: rgba(0, 0, 0, .8);
        text-align: center;
        width: 100%;
    }
    .nav > li:hover {
        background: rgba(0, 0, 0, .08);
    }
    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img {
        max-height: 40px;
        width: auto;
        margin: -10px 5px 0 0;
    }
    .nav-invert .navbar-header {
        float: none;
        width: 100%;
    }
    .nav-invert .navbar-toggle {
        float: left;
    }
    .btn.pull-left,
    .btn.pull-right {
        float: none!important;
    }
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }
    .a-block {
        text-align: center;
    }
    .btn-dwn {
        display: none;
    }
    #bloc-1, #bloc-10 { margin-top: 3%; }
}

.contact-header {
    padding: 40px;
    background-color: #338195;
    margin: 0 5px;
}


/*  Buttons */

.btn-ulink {
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.btn-ulink {
    background: none repeat scroll 0 0 #338195;
    border: medium none;
    border-radius: 0px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 16px 30px;
}

.btn-ulink:hover,
.btn-grey:active {
    background: #0f262c;
    color: #FFFFFF;
    transition: all 0.35s ease 0s;
}


/* Bootstrap Overrides */

.alert {
    display: none;
}

.form-control {
    color: #cccccc;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: none;
    border: 0px solid #ccc;
    height: 43px;
    font-size: 20px;
    border-radius: 0px;
}
